*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/errors/errors-1743597351413.log
/.kotlin/errors/errors-1743597575388.log
/.kotlin/errors/errors-1743597608853.log
/.kotlin/errors/errors-1743597690414.log
/.kotlin/errors/errors-1743597881460.log
/.kotlin/errors/errors-1743597895481.log
/.kotlin/errors/errors-1743598269379.log
/.kotlin/errors/errors-1743598768722.log
/.kotlin/errors/errors-1743599471547.log
/.kotlin/errors/errors-1743599748776.log
/.kotlin/errors/errors-1743599912884.log
/.kotlin/errors/errors-1743600100801.log
/.kotlin/errors/errors-1743600230845.log
/.kotlin/errors/errors-1743600592334.log
/.kotlin/errors/errors-1743600843901.log
/.kotlin/errors/errors-1743601040614.log
/.kotlin/errors/errors-1743601267155.log
/.kotlin/errors/errors-1743601525673.log
/.kotlin/errors/errors-1743601583182.log
/.idea/inspectionProfiles/Project_Default.xml
